@import './colors';

.carousel-wrapper {
  width: 100%;
  height: 1200px;
  background-color: $orange-section;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  .arrows {
    cursor: pointer;
    color: $main-color;
    .left-arrow {
      position: absolute;
      font-size: 5rem;
      top: 50%;
      left: 1%;
    }

    .right-arrow {
      position: absolute;
      font-size: 5rem;
      top: 50%;
      right: 1%;
    }
  }
}

.carousel {
  opacity: 0;
  transition-duration: 1s;
}

.carousel.active {
  opacity: 1;
  transition-duration: 1s;
}

.data-item {
  color: $main-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .texts {
    p {
      margin: 2rem;
    }
  }
  img {
    width: 50vw;
    height: auto;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .carousel-wrapper {
    width: 100%;
    height: 80vh;

    .arrows {
      .left-arrow {
        font-size: 5rem;
        top: 50% !important;
        left: 1%;
      }

      .right-arrow {
        font-size: 5rem;
        top: 50% !important;
        right: 1%;
      }
    }
  }

  .data-item {
    img {
      width: 100vw;
      height: auto;
      margin-top: 1rem;
    }
  }
}

@media screen and (max-width: 480px) {
  .carousel-wrapper {
    height: 80vh;

    .arrows {
      .left-arrow {
        font-size: 3rem;
      }

      .right-arrow {
        font-size: 3rem;
      }
    }
  }
}
