@import './colors';
@import './mixins';

.section-wrapper-cream {
  width: 100%;
  padding-bottom: 10rem;
  background-color: $cream-color;
  display: flex;
  flex-direction: column;
}

.top-section-cream {
  @include flex-center;
  justify-content: center;
  margin-bottom: 10rem;

  h1 {
    color: $gray-color;
    margin-top: 2rem;
    font-size: 4rem;
  }
}

// Bottom section with icons

.bottom-section-cream {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  justify-content: space-around;
  gap: 3rem;
  text-align: center;
  width: 100%;

  .cart {
    align-items: center;

    .gift {
      align-items: center;

      .gift-icons {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: $main-color;
        padding: 20px;
        margin-bottom: 1rem;
      }
    }

    p {
      margin-top: 1rem;
      font-size: 1.5rem;
    }
  }
}

@media screen and (max-width: 1025px) {
  .section-wrapper-cream {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    .top-section-cream {
      text-align: center;
      margin-bottom: -30px;
      position: relative;
      top: -120px;
      h1 {
        font-size: 3rem !important;
        margin-bottom: 60px;
      }
    }

    .bottom-section-cream {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      top: -120px;

      .cart {
        width: 100%;
        margin-top: 30px;

        .gift {
          .gift-icons {
            width: 20%;
            height: 20%;
          }
        }
        p {
          font-size: 2rem !important;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .section-wrapper-cream {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 140vh;

    .top-section-cream {
      text-align: center;
      margin-bottom: -30px;
      position: relative;
      top: -120px;
      h1 {
        font-size: 1.7rem !important;
        margin-bottom: 20px;
      }
    }

    .bottom-section-cream {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      top: -120px;

      .cart {
        width: 100%;

        .gift {
          .gift-icons {
            width: 25%;
            height: 25%;
          }
        }
        p {
          font-size: 1.3rem !important;
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .section-wrapper-cream {
    height: 180vh;
  }
}

// @media all and (max-width: 1025px) {
//   .section-wrapper-cream {
//     height: 100vh;
//     position: relative;
//     top: 40px;

//     .top-section-cream {
//       padding: 0;
//       margin: 0;
//       top: 0;

//       h1 {
//         font-size: 2.5rem;
//         width: 100%;
//         text-align: center;
//         position: relative;
//       }
//     }

//     .bottom-section-cream {
//       display: flex;
//       flex-direction: column;
//       justify-content: center;
//       align-items: center;

//       .cart {
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//         margin-top: 30px;

//         p {
//           text-align: center;
//           font-size: 1.5rem;
//         }
//       }
//     }

//     .gift-icons {
//       width: 100px !important;
//       height: 100px !important;
//       padding: 20px;
//       margin-bottom: 1rem;
//     }
//   }
// }

// @media all and (max-width: 767px) {
//   .section-wrapper-cream {
//     top: 230px;

//     .top-section-cream {
//       h1 {
//         font-size: 1.3rem;
//       }
//     }

//     .bottom-section-cream {
//       .cart {
//         p {
//           text-align: center;
//           font-size: 1.2rem;
//           margin-top: 0px;
//         }
//       }
//     }

//     .gift-icons {
//       width: 60px !important;
//       height: 60px !important;
//       padding: 20px;
//       margin-bottom: 1rem;
//     }
//   }
// }
