@import './colors';
@import './mixins';

.section-wrapper-cream {
  width: 100%;
  height: 1200px;
  padding-bottom: 10rem;
  background-color: $cream-color;
  display: flex;
  flex-direction: column;
}

.top-section-cream {
  @include flex-center;
  justify-content: center;
  margin-bottom: 10rem;

  h1 {
    color: $gray-color;
    margin-top: 2rem;
    font-size: 4rem;
  }
}

// Bottom section with icons

.bottom-section-cream {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  justify-content: space-around;
  gap: 3rem;
  text-align: center;
  width: 100%;

  .cart {
    align-items: center;

    .gift {
      align-items: center;

      .gift-icons {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: $main-color;
        padding: 20px;
        margin-bottom: 1rem;
      }
    }

    p {
      margin-top: 1rem;
      font-size: 1.5rem;
    }
  }
}

@media screen and (max-width: 1025px) {
  .section-wrapper-cream {
    .top-section-cream {
      position: relative;
      top: 120px;
      h1 {
        font-size: 1.7rem !important;
        text-align: center;
      }
    }

    .bottom-section-cream {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;

      .cart {
        width: 100%;

        .gift {
          .gift-icons {
            width: 15%;
            height: 15%;
          }
        }
        p {
          font-size: 1.3rem !important;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .section-wrapper-cream {
    .top-section-cream {
      h1 {
      }
    }

    .bottom-section-cream {
      .cart {
        .gift {
          .gift-icons {
            width: 25%;
            height: 25%;
          }
        }
        p {
        }
      }
    }
  }
}
