@import './colors';
@import './buttons';

// Styles for giftcard / males / females pages

.product-shop-wrapper {
  width: 100%;
  height: auto;
  .product-shop-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    justify-items: center;
    width: 100%;
    align-items: center;
    margin-top: 50px;
    // object-fit: contain;

    a {
      text-decoration: none;
      color: black;
    }

    .product-shop-card {
      width: 70%;
      height: 70%;
      box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
      object-fit: contain;
      box-sizing: border-box;
      object-fit: contain;
      padding: 2rem;

      img {
        width: 100%;
        height: 80%;
        object-fit: contain;
      }

      .title {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;

        h1 {
          font-size: 2rem;
          position: relative;
          margin-top: 10px;
        }
      }
    }
  }
}

// For individual Product --------------------------

.product-wrapper {
  // height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: sc;

  .button {
    z-index: 3;
    @include button;
    margin-bottom: 50px;
  }

  .button:hover {
    @include hover;
  }

  .product-info-wrapper {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: $orange-section;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    padding: 5rem;
    object-fit: contain;

    .title-cost-wrapper {
      display: flex;
      position: relative;
      margin-bottom: 20px;

      .product-title {
        background-color: $cream-color;
        font-size: 1.5rem;
        text-align: center;
        padding: 1rem;
        border-radius: 20px;
        margin-right: 10px;
      }

      .product-cost {
        background-color: $cream-color;
        font-size: 1.5rem;
        text-align: center;
        padding: 1rem;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
      }
    }

    .product-img {
      display: flex;
      justify-content: center;
      img {
        position: relative;
        width: 300px;
        object-fit: contain;
      }
    }

    .product-description {
      background-color: $cream-color;
      padding: 2rem;
      border-radius: 20px;
      font-size: 1.5rem;
      margin-top: 3rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .product-wrapper {
    .button {
    }

    .button:hover {
      @include hover;
    }

    .product-info-wrapper {
      width: 90%;

      .title-cost-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .product-img {
        img {
          width: 200px;
        }
      }

      .product-description {
        font-size: 1rem;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .product-wrapper {
    .button {
    }

    .button:hover {
      @include hover;
    }

    .product-info-wrapper {
      width: 90%;

      .title-cost-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;

        .product-title {
          font-size: 1rem;
          margin-right: 10px;
        }

        .product-cost {
          font-size: 1rem;

          margin-left: 10px;
        }
      }

      .product-img {
        img {
          width: 150px;
        }
      }

      .product-description {
        font-size: 0.8rem;
        min-width: 150%;
      }
    }
  }
}

// // Styles

@media all and (max-width: 1400px) {
  .product-shop-wrapper {
    .product-shop-cards {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@media all and (max-width: 1025px) {
  .product-shop-wrapper {
    width: 100%;
    .product-shop-cards {
      display: grid;
      grid-template-columns: repeat(1, 1fr);

      .product-shop-card {
        width: 90%;

        img {
        }
        h1 {
          font-size: 1.5rem !important;
          text-align: center;
          margin-top: 20px;
        }
      }
    }
  }
}

// // Individual product styles
// @media screen and (max-width: 1025px) {
//   .product-wrapper {
//     top: 50px;
//     .button {
//       @include button;
//     }

//     .product-info-wrapper {
//       width: 90%;

//       .title-cost-wrapper {
//         .product-title {
//           font-size: 1.6rem;
//           margin-top: 10rem;
//         }

//         .product-cost {
//           font-size: 1.6rem;
//           margin-top: 10rem;
//         }
//       }

//       .product-description {
//         font-size: 1.2rem;
//         margin-bottom: 7rem;
//       }
//     }
//   }
// }

// @media screen and (max-width: 480px) {
//   .product-wrapper {
//     top: 200px;
//     display: flex;

//     .button {
//       font-size: 1rem !important;
//       @include button;
//     }

//     .product-info-wrapper {
//       width: 90%;

//       .title-cost-wrapper {
//         .product-title {
//           font-size: 1rem;
//           position: relative;
//           left: 120px;
//           top: 25px;
//         }

//         .product-cost {
//           font-size: 1rem;
//           position: relative;

//           right: 120px;
//           top: 25px;
//         }
//       }

//       .product-description {
//         font-size: 0.9rem;
//         margin-bottom: 7rem;
//         width: 80vw;
//         padding: 1rem;
//       }

//       .product-img {
//         object-fit: contain;

//         img {
//           height: 20vh;
//         }
//       }
//     }
//   }
// }
