@import './colors';
@import './buttons';

.main-section {
  background: url(../../public/corgianimation.svg);
  height: 85vh;
  background-size: contain;
  background-position: center; /* or 50% 50% */
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  margin-top: 60px;

  .content {
    margin: 12rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 400px;
    left: 500px;

    h1 {
      font-size: 4rem;
      text-transform: uppercase;
      position: relative;
      top: 2em;
    }

    button {
      @include button;
      position: relative;
      top: 8rem;
    }

    button:hover {
      @include hover;
    }
  }

  .bottom-text {
    position: absolute;
    bottom: 0;
    margin-bottom: 50px;
    margin-left: 15px;
    font-weight: bolder;
  }
}

@media all and (max-width: 1730px) {
  .main-section {
    .content {
      top: 400px;
      left: 400px;
    }
  }
}

@media all and (max-width: 1430px) {
  .main-section {
    .content {
      left: 240px {
        font-size: 2.5rem;
      }
      h1 {
        font-size: 2.5rem;
      }

      .button-wrapper {
        top: 300px;
      }
    }

    .bottom-text {
      p {
        position: relative;
        top: 1.3rem;
      }
    }
  }
}

@media all and (max-width: 950px) {
  .main-section {
    // margin-bottom: 200px;
    .content {
      top: -250px;
      left: -100px;
      h1 {
        font-size: 1.5rem;
        position: relative;
        top: 105px;
      }

      .button-wrapper {
        position: relative;
        bottom: -200px;
        left: 190px;

        button {
          padding: 0.6rem;
        }
      }
    }
  }
}
