@import './colors';
@import './buttons';

.main-section {
  background: url(../../public/corgianimation.svg);
  height: 1200px;
  background-size: contain;
  background-position: center; /* or 50% 50% */
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;

  .content {
    margin: 12rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    bottom: 200px;

    h1 {
      font-size: 4rem;
      text-transform: uppercase;
      position: relative;
      top: 2em;
    }

    button {
      @include button;
      position: relative;
      top: 8rem;
    }

    button:hover {
      @include hover;
    }
  }

  .bottom-text {
    position: absolute;
    bottom: 0;
    margin-bottom: 50px;
    margin-left: 15px;
    font-weight: bolder;
  }
}

@media all and (max-width: 1025px) {
  .main-section {
    .content {
      h1 {
        font-size: 2.4rem;
      }
    }

    .bottom-text {
      p {
        position: relative;
        top: 50px;
      }
    }
  }
}

@media all and (max-width: 767px) {
  .main-section {
    // margin-bottom: 200px;
    .content {
      h1 {
        font-size: 2rem !important;
        position: relative;
        top: 80px;
      }

      .button-wrapper {
        position: relative;

        button {
          padding: 0.7rem;
          font-size: 1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .main-section {
    .content {
      display: flex;
      justify-content: center;
      align-items: center;

      h1 {
        font-size: 1.5rem !important;
        min-width: 200px;
      }
    }

    .button-wrapper {
      button {
      }
    }
  }
}
